p.text-sobre {
  width: 45%;
  font-weight: bold;
  display: flex;
  text-align: left;
  text-transform: uppercase;
  color: var(--laranja);
  font-size: 3.5rem;
  position: absolute;
  margin-top: 8rem;
  margin-left: 3rem;
  padding: 2rem;
}

.img-prof {
  display: flex;
  margin-left: auto;
}
